<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard for the manuscript</title>
    <style type="text/css">

    div{
       float:left;
       border: solid 1px gray;
       margin: 4px;
       padding: 3px;
    }
    br{
      clear:both;
      }

    h1{
      font-size:medium;
      font-family: Arial;
      padding-left: 10px;
      color: Gray;
    }

    .align-right { float:right; margin: 0 0 15px 15px; }
    </style>
</head>
<body>

<div id="dashboard">

<h1>Dashboard</h1>

<p><ul>
    <li>$total words ($(total/500) pages) have been written, out of an
    objective of 60 000 (120 pages).</li>
    <li>Over the last $days days, the productivity is an average $wpd
    words per day.</li>
    <li>At this speed, this thesis will be finished on $enddate.</li>
    <li>If Stephen King took over now, at his average 2000 words per day,
    this would be over on $skenddate.</li>
    </ul>
</p>
<div id="wpd">
   <img id="wpdChart" alt="Words per day average" src="wpd.png"
   class="align-right" />
</div>

<div id="adv">
   <img id="advChart" alt="Number of words" src="adv.png" />
</div>

<div id="incr">
   <img id="incrChart" alt="Daily lines added" src="incr.png" />
</div>

<br/>



</body>
</html>
