<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Executive Dashboard for "Help and Share Generously"</title>
    <style type="text/css">

    div{
       float:left;
       border: solid 1px gray;
       margin: 4px;
       padding: 3px;
    }
    br{
      clear:both;
      }

    h1{
      font-size:medium;
      font-family: Arial;
      padding-left: 10px;
      color: Gray;
    }
    </style>
</head>
<body>

<div id="dashboard">

<h1>Executive Dashboard</h1>

<div id="funds">
   <img id="fundsChart" alt="Performance of the campaigns" src="http://chart.apis.google.com/chart?cht=bvs&chxt=x,y&chco=C0D7B8,D4D6B8&chf=c,ls,90,F8F8F8,0.25,FFFFFF,0.25,FFFFFF,0.25&chd=t:60,80,90,40&chr=0,20&chs=400x250&chbh=50,50,45&chco=C0D7B8,D4D6B8,B6C9A8,C9DEC9&chl=Direct|Fundraisers|Shows|Events&chtt=Funding by Campaigns" />
</div>

<div id="donors">
   <img id="Img1" alt="Performance of the individual campaigns" src="http://chart.apis.google.com/chart?cht=bhg&chxt=x,y&chco=C0D7B8,D4D6B8&chf=c,ls,0,F8F8F8,0.2,FFFFFF,0.2&chd=t:60,80,90,40&chr=0,20&chs=400x250&chbh=20,20,30&chco=C0D7B8,D4D6B8,B6C9A8,C9DEC9&chxl=1:|Company A|Company B|Company C|Company D&chtt=Top Corporate Donors" />
</div>

<br/>

<div id="trends">
   <img id="trendsChart" alt="Donations over 12 Months"
   src="http://chart.apis.google.com/chart?cht=lc&chd=t:30,30,40,40,50,40,50,50,60,80,80,90&chs=400x250&chxt=x,y&chco=C0D7B8,D4D6B8&chm=B,D4D6B8,0,0,0&chl=Jan|Feb|Mar|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec&chtt=Monthly Trends" />
</div>

<div id="performance">
   <img id="performanceChart" alt="Regional Performance" src="http://chart.apis.google.com/chart?cht=p&chd=t:12,14,9,4&chs=400x250&chco=C0D7B8,D4D6B8,B6C9A8,C9DEC9&chl=East|West|Central|None&chtt=Regional Performance" />
</div>

</div>

</body>
</html>
